# docker-compose.yml

services:
  web:
    build: .
    container_name: ctf_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/ctfdb
      - CELERY_BROKER_URL=redis://redis:6379/0
    networks:
      - ctf_net

  celery:
    build: .
    container_name: celery_worker
    command: celery -A app.celery_worker.celery worker --loglevel=info
    volumes:
      - .:/code
    depends_on:
      - redis
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/ctfdb
      - CELERY_BROKER_URL=redis://redis:6379/0
    networks:
      - ctf_net

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - ctf_net

  db:
    image: postgres:16
    container_name: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    environment:
      POSTGRES_DB: ctfdb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
    networks:
      - ctf_net

networks:
  ctf_net:

volumes:
  pgdata:

